*{
  margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}
html {
  scroll-behavior: smooth;
}


.mySlides{
  width: 100%;
}

.header{
  background-color: #8b0d0d;
    align-items: center; 
    height: 350px;
      width: 100%;
      margin: 0 auto;
}

.haeder__menu{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  line-height: 5.5;
  font-size: 18px;
}
.navbar{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


#about__us{
  padding-top: 170px;
  padding-bottom: 40px;
  width: 1000px;
}
.intro__text{
  padding-top: 10px;
  width: 50%;
  text-align: left;
  font-weight: 700;
  color: #001c31;
  font-size: 20px;
}
.intro__inner2{
  display: flex;
}
.footer__portfolio{
  padding-top: 200px;
}
.up__portfolio{
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px;
  width: 100%;
  width: 990px;
}
.down__portfolio{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  width: 990px;
}
.left__up{
  margin: 10px;
  width: 50%;

}
.h1{
  font-size: 45px;
}
.span{
  font-size: 45px;
}
.center__up{
  margin: 10px;
  width: 50%;
}
.container{
  margin: 0 auto;
  width: 100%;
}
.menu-btn {
	width: 30px;
	height: 40px;
	position: relative;
	z-index:2;
	overflow: hidden;
  display: none;
}
.menu-btn span {
	width: 50px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 320px;
	padding: 15px;
  background: #8b0d0d;
	transform: translateX(-100%);
	transition: transform 0.5s; 
  text-decoration: none;
  margin: 0 auto;
  padding-top: 50px;
}
.menu.active {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}
.menu li a{
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  line-height: 2.2;
  color: #fff;
  margin: 0 auto;
  padding-left: 150px;
  font-weight: 600;
}
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.header__assets{
  margin-top: 40px;
  display: flex;
}
@media screen and (max-width: 768px ) {
  .menu-btn{
    width: 20px;
    height: 40px;
    z-index:2;
    overflow: hidden;
    display: block;
    line-height: 5.5;
    padding-top: 60px;
    padding-left: 40px;
  }
  .menu {
    top: 0;
    left: 0;
    width: 27%;
    height: 220px;
    padding: 15px;
    background: #8b0d0d;
    transform: translateX(-100%);
    transition: transform 0.5s; 
    text-decoration: none;
    margin: 0 auto;
    padding-top: 80px;
  }
  .menu li a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 2.2;
    color: #fff;
    margin: 0 auto;
    padding-left: 50px;
    font-weight: 600;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
  }
  .container{
    width: 100%;
  }
  .haeder__menu{
    display: none;
    font-size: 20px;
  }
  .h1{
    font-size: 30px;
    text-align: center;
  }
  .categories{
    display: flex;
    flex-direction: column;
  }
  .span{
    font-size: 30px;
  }
  .category a{
    font-size: 20px;
  }
  .down__portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
  .up__portfolio{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
  .intro__inner2{
    padding-top:0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #about__us{
    width: 100%;
    padding: 0;
  }
  .footer__portfolio{
    width: 100%;
    margin:0;
    padding-top: 20px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer{
    padding: 0;
  }
  .up__contact{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .down__contact{
    width: 50%;
      margin: 0 auto;
    display: flex;
      justify-content: center;
  }
  .center__up, .left__up{
    padding-top: 10px;
    margin: 0 auto;
  }
}

.assets li {
  list-style-type: none;
  display: inline;
}
.assets__link img{
  width: 25px;
}

h1{
  text-align: center;
  font-weight: 900;
  color: #555;
  text-transform: uppercase;
  padding-top: 40px;
}
p{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #555;
}


.footer {

    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer .col {
    padding-top: 240px;

    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 17px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  .footer__text{
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer__container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .footer__text a{
    text-align: center;
    text-decoration: none;
    text-overflow: inherit;
    color: #555;
    margin: 15px;
  }
.footer__text a{
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
  
.social__icon{
  text-align: center;
  
}
  .fa {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #8b0d0d;
    color: white;
  }
  
  .fa-twitter {
    background: #8b0d0d;
    color: white;
  }
  .fa-instagram{
    background: #8b0d0d;
    color: rgb(255, 255, 255);
  }
  .fa-youtube {
    background: #8b0d0d;
    color: rgb(255, 255, 255);
  }



  .categories{
    display: flex;
    justify-content: center;
    row-gap: 40px;
    width: 100%;
    margin-top: 40px;

}

.category a{
    height: 300px;
    background-color: #8b0d0d;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: gold;
    text-decoration: none;
    font-size: 28px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
  text-align: center;
  width: 300px;
}






.products{  
  display: flex;
  justify-content: center;
  padding-top: 140px;   
}

.item-image{
  text-align: center;
}
.item-title{
  background-color: white;
  font-size: 25px;
   font-weight: 700;

  color: #8b0d0d;
  text-align: center;
}
button{
  width: 200px;
  height: 60px;
  background-color: #8b0d0d;
  color: #fff;
  box-shadow: #fff;
  border: #fff;
  border-radius: 20px;
  font-size: 25px;
}

.item-price{
    
    
  text-align: center;
  
  
  text-align: center;
  color: #3d434d;

  
  font-size: 25px;
}



@media screen and (max-width:768px) {
  .container{
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 20px;
  }
  .category{
    width: 400px;
    
  }
}


.contact__button{
  font-size: 25px;
  color: #fff;
  display: inline-block;
  width: 350px;
  height: 100px;
  text-align: center;
  line-height: 4.5;
  border-radius: 10px;
  background-color: #43B3E0;;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 40px;
}
#section__contact{
  width: 100%;
  height: 600px;
  background-color: #fff;
  margin: 100px 0 auto;
}
.header__inner{
  padding-top: 50px;
}
input[type=name], input[type=email] {
  padding: 15px 60px;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  background: #8b0d0d;
  margin: 10px auto;
  font-size: 20px;
  color: #fff;
  -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

}
input[type=name]:focus, input[type=email]:focus {
  background-color: #fff;
  outline: none;
  font-size: 20px;
  color: #303030;
}
.up__name, .up__email{
  
  width: 100%;
  display: flex;
  font-size: 20px;
}
input[type=message] {
  padding: 5px 60px;
  height: 240px;
  width: 500px;
  border: none;
  border-radius: 10px;
  background: #8b0d0d;
  margin: 10px auto;
  font-size: 20px;
  color: #282828;
  text-align: left;
  display: flex;
  -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
}
input[type=message]:focus {
  background-color: #fff;
  outline: none;
  font-size: 20px;
  color: #001c31;
  text-align: left;
}
.send__button{
  font-size: 25px;
  color: #fff;
  display: inline-block;
  width: 250px;
  height: 70px;
  text-align: center;
  line-height: 4.5;
  border-radius: 10px;
  background-color: #001c31;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.send{
  display: flex;
  justify-content: center;
}

