body{
    background-color: white;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}
html {
  scroll-behavior: smooth;
}
.header{
    width: 100%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}
.slideshow-container{
  padding-top: 100px;
}
.mySlides{
  -moz-animation-delay:5s;
	-webkit-animation-delay:5s;
	-o-animation-delay:5s;
	animation-delay:5s;
  opacity: 1.0;
  width: 100%;
}
.nav{
  width: 100%;

    display: flex;
    justify-content: center;
    position: fixed;
    text-decoration: none;
    background-color: rgb(151, 7, 7);
    align-items: center; 
}
.nav__link a{
    padding: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.nav__link :hover{
    color: #262e4e;
}
.intro__header{
  width: 100%;
  text-align: center;
  padding-top: 20px;
}




.inner__upper__items, .inner__down__items, .inner__items{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.product__item {
  width: 30%;
  border: 1px solid white;
  text-align: center;
}
h1{
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #555;
  text-transform: uppercase;
  padding-top: 40px;
}
p{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #555;
}




.footer {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer .col {
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 17px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
 

  

  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #8b0d0d;
    color: white;
  }
  
  .fa-twitter {
    background: #8b0d0d;
    color: white;
  }
  .fa-instagram{
    background: #8b0d0d;
    color: rgb(255, 255, 255);
  }
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


  .categories{
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
}

.category{
    height: 300px;
    background-color: #262e4e;
    display: flex;
    justify-content: center;
    align-items: center;

}

.category:hover{
    background-color: #262e4e;
}

.category a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}



.body{
    background-color: aqua;
}

.products{
    display: flex;
    
   
    
}


.item-title{
    background-color: white;
    
    color: black;
    text-align: center;
}



.item-price{
    background-color: white;
    color: black;
    text-align: center;
}